.left-floatingbutton {
  cursor: pointer;
  display: block;
  text-align: center;
  overflow: none;
  background-color: transparent;
  border-color: transparent;
}

@media screen and (min-width: 1200px) {
  .left-floatingbutton {
    height: 80px;
    width: 80px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .left-floatingbutton {
    height:65px;
    width: 100px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .left-floatingbutton {
    height: 50px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .left-floatingbutton {
    height: 40px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .left-floatingbutton {
    height: 40px;
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 450px) {
  .left-floatingbutton {
    height: 40px;
    font-size: 0.3rem;
  }
}

@media screen and (max-width: 300px) {
  .left-floatingbutton {
    display: none;
  }
}