.card-title {
    box-sizing: border-box;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}

@media screen and (min-width: 1200px) {

    .card-title {
        font-size: 2.2rem;
    }

    .card-content {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {

    .card-title {
        font-size: 2.2rem;
    }

    .card-content {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 992px) {
    .card-title {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 768px) {
    .card-title {
        font-size: 1.8rem;
    }
    .card-content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {


    .card-title {
        font-size: 1.8rem;
    }
    .card-content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {

    .card-title {
        font-size: 1.5rem;
    }
    .card-content {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 300px) {
    .card-title {
        font-size: 1.5rem;
    }
    .card-content {
        font-size: 0.6rem;
    }
}