

#float-bar {
    z-index: 100;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0%;
    padding: 10px 1%;
}


#big-screen {
    background-image: url("../../../pic/20230122_145224.png");
    background-size: cover;
    aspect-ratio: 3730/2042;
    background-blend-mode: multiply;
    overflow: hidden;
    border-radius: 5px;
}

#about-me {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#biography {
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#working-experience {
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#skill-Info {
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact {
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1200px) {
    .card {
        margin: 1% 4% 1%;
    }
}

@media screen and (max-width: 1200px) {
    .card {
        margin: 1% 4% 1%;
    }
}

@media screen and (max-width: 992px) {
    .card {
        margin: 1% 3% 1%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        margin: 1% 3% 1%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        margin: 1% 2% 1%;
    }
}

@media screen and (max-width: 450px) {
    .card {
        margin: 1% 2% 1%;
    }

}

@media screen and (max-width: 300px) {
    .card {
        margin: 1% 1% 1%;
    }
}