#contact .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact .card-content ul li {
    border-bottom: 1px solid #444242;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#mailto-button
{
    border-radius: 5px;
    color: #000;
    background-color: gold;
    font-size: 95%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}


#contact .card-content #contact-way {
    margin: 0% 1% 0%;
    width: 100%;
}

#contact .card-content ul li span {
    overflow: hidden;
}

#contact .card-content ul li label {
    width: 21%;
    margin-bottom: 5px;
}

#contact-intstant {
    margin: 0% 1% 0%;
    width: 100%;
}

#contact .card-content div .part-title {
    text-align: center;
}


@media screen and (min-width: 1200px) {
    .contact-intstant {
        width: 100%;
    }

    #contact .card-content ul li span {
        font-size: 1.2rem;
    }

    #contact .card-content ul li label {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    .contact-intstant {
        width: 100%;
    }

    #contact .card-content ul li span {
        font-size: 1.2rem;
    }

    #contact .card-content ul li label {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 992px) {
    .contact-intstant {
        width: 100%;
    }

    #contact .card-content ul li span {
        font-size: 1.2rem;
    }

    #contact .card-content ul li label {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-intstant {
        width: 100%;
    }

    #contact .card-content ul li span {
        font-size: 1rem;
    }

    #contact .card-content ul li label {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    #contact-intstant {
        display: none;
    }

    #contact .card-content ul li span {
        font-size: 1.4rem;
    }

    #contact .card-content ul li label {
        font-size: 1.4rem;
    }

    #contact .card-content div .part-title {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #contact-intstant {
        display: none;
    }

    #contact .card-content ul li span {
        font-size: 1rem;
        align-self: center;
    }

    #contact .card-content ul li label {
        font-size: 1.2rem;
    }

    #contact .card-content div .part-title {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    #contact-intstant {
        display: none;
    }

    #contact .card-content ul li span {
        font-size: 0.8rem;
        align-self: center;
    }

    #contact .card-content ul li label {
        font-size: 1.2rem;
    }

    #contact .card-content div .part-title {
        display: none;
    }
}